services:
  jelly-tuner:
    container_name: jelly-tuner
    build: .
    env_file:
      - .env
    #network_mode: "host"
    # ports:
    #   - "5000:5000"
    # --- Hardware Acceleration Support ---
    # Uncomment the section below that matches your hardware.

    # Intel / AMD (VAAPI/QSV)
    # devices:
    #   - /dev/dri:/dev/dri

    privileged: true
    restart: unless-stopped
    runtime: nvidia

    # NVIDIA
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ "gpu" ]
