services:
  jelly-tuner:
    container_name: jelly-tuner
    build: .
    env_file:
      - .env
    ports:
      - "5000:5000"
    volumes:
      - ./jellybench_data:/app/jellybench_data

    # --- Hardware Acceleration Support ---
    privileged: true
    restart: unless-stopped
    runtime: nvidia

    # NVIDIA
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu, video, utility, compute ]
